.vscode
build
.Xil
*.jou
*.log
*.pb
*.str
xsim.dir
vcs
mixed_precision_multiplier
vivado/memory/*
!vivado/memory/.gitkeep
dc/work/*
!dc/work/main2.py
sim/work/*
!sim/work/makefile
!sim/work/update_filelist.sh
sim/memory/*
sim/memory_transformer/*
sim/memory_llama/*
!sim/memory/.gitkeep
__pycache__
sim_build
verdiLog
filelist.f
novas.*
*.fsdb
*.xml
*.key
submit
exe
dc_1
fsdb2vcd
fsdb2saif
formality_svf
ptpx
*.svf

!sim/memory/log.txt
!sim/memory/reciprocal.txt
!sim/memory/exp.txt
!sim/memory/rsqrt.txt
!sim/memory/sincos.txt
!sim/memory/tanh.txt
!sim/memory/sigmoid.txt
!sim/memory/mish.txt
!sim/memory/gelu.txt
!sim/memory/swish.txt

spyglass
vcu_cmodel

alib-52
reports
results
WORK
vivado
lzd

parallel_test/work
parallel_test/logs
# dc

simulator/op_val/*/*
!simulator/op_val/*/pytorch_ref
!simulator/op_val/**/*.py

# python interface
python_interface/test/**/output
python_interface/test/**/data
python_interface/test/utils
!python_interface/test/utils/*.py

